.App {
  text-align: center;
  margin: 0px;
}
.header{
  background-color: rgb(25, 25, 54);
  color: white;
}
.header h1{
  margin-top: 0px;
  padding: 10px 0px;
}

.imgSlide{
  width:1350px;
  height:470px;
}
.next {
  margin-top: 0px;
  cursor: pointer;
}
.back {
  margin-top: 0px;
  cursor: pointer;
}

/* for small devices */
@media screen and (max-width:600px) {
  .imgSlide{
    width:575px;
    height:200px ;
  }
}
.image-slider {
  display: flex;
  flex-direction: column;
}
.images{
  display: flex;
  flex-direction: row;
}
.dot-feedback{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.blankDot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(183, 190, 190);
  margin: 0px 5px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}
.activedot{
  background-color: rgb(0, 0, 0);
}